* {
    box-sizing: border-box;
  }

body{
    font-family: 'Times New Roman', Times, serif;
}

html {
    width : 100%
}

h1 {
    font-size: 175%;
    margin-top: 20px;
    text-align: center;
}

h2 {
    float: right;
    width: 30%;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 125%;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-block-end : 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}



section {
    border: 1px solid black;
    margin: 5px;
    background-color: lightgrey;
    overflow: scroll;
}

p{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

.def {
    background-color: lightcoral;
}

.approach {
    background-color: #da434d;
    color: white;
}

.tools {
    background-color: #c1ac32;
}



  @media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.3%;
    }
  }

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
  }

  @media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
  }

